body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FAFAD2; /* Light golden color */
    font-family: 'Verdana', sans-serif; /* Changed font */
    margin: 0;
    min-height: 100vh; /* Ensures the height of the viewport */
    width: 100vw; /* Use viewport width */
}

/* Header Styles */
h1 {
    color: #444; /* Slightly lighter color */
    font-size: 2rem; /* Adjusted font size for better readability */
    margin-bottom: 20px;
}

/* Canvas Styles */
canvas {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #333; /* Darker border for contrast */
    border-radius: 12px; /* Slightly larger radius for more rounded corners */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow effect */
}

/* Button Styles */
button {
    padding: 12px 16px; /* Increased padding for a better look */
    font-size: 18px; /* Larger font size for better visibility */
    cursor: pointer;
    background-color: #3E8E41; /* Slightly darker green */
    color: #FFF;
    border: none;
    border-radius: 6px; /* Slightly larger radius for the button */
    outline: none;
    transition: background-color 0.3s, transform 0.2s; /* Added transition for scale effect */
    margin-bottom: 20px; /* Adjusted margin */
}

button:hover {
    background-color: #367c39; /* Darker green on hover */
    transform: scale(1.05); /* Slightly enlarges the button */
}
.slider-container {
    margin: 5px;
}